<!DOCTYPE html>
<html>
  <head>
    <title>MsgMe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <h1>Hello, world!</h1>
    <p>You just created a new Ringo application. Here are some possible next steps:</p>
<ul>
    <li>Tweak the URL routing in <code>config.js</code>.</li>
    <li>Edit and add actions in <code>actions.js</code>.</li>
    <li>Visit our <a href="http://ringojs.org/documentation/">documentation</a>
        to learn more about Ringo.</li>
</ul>
<p>Current Users in System<br>
{{person}}</p>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
